@{
    ViewData["Title"] = "List";
}

<style>
    datalist option{
        font-size:18px
    }
</style>

<link rel="stylesheet" href="~/css/site.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

<body>
    <section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="        background-image: url(/images/employee.jpg);">
        <h2 class="tit6 t-center">
            @*當前*@販售資訊列表
        </h2>
    </section>
    <section class="p-t-10" style="        background-color: #ebebeb;">
        <div class="container">
            <p>
                <div class="row">
                    <div class="col-md-10">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal" id="AddBtn">新增販售資訊</button>
                    </div>
                    @*<div class="col-md-2">
                        <button class="btn btn-warning d-flex" style="justify-content:right" id="RecordSwitch">歷史販售資訊</button>
                    </div>*@
                </div>

                <hr style="height:2px">

                <div class="row">
                    <div class="col-md-3">
                        <label>產品名稱</label>
                        <input id="SelProduct" list="ProductList" class="form-control border" placeholder="輸入產品關鍵字..."/>
                        <datalist id="ProductList"></datalist>
                    </div>

                    <div class="col-md-2">
                        <label>販售狀態</label>
                        <select id="SelState" class="form-select"></select>
                    </div>

                    <div class="col-md-2">
                        <button id="SearchBtn" type="button" class="btn btn-info" style="margin-top:30px">查詢</button>
                    </div>
                </div>
            </p>

            <div id="DivList"></div>

            <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="ModalLabel">新增販售資訊</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                        </div>
                        <div class="modal-footer">
                            @*<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>*@
                            <button type="button" class="btn btn-danger mr-auto" data-bs-dismiss="modal" id="OffShelfBtn">下架產品</button>
                            <button type="button" class="btn btn-primary" id="submit">上架產品</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

@section Scripts{
    <script>
        let PID
        let EditID

        let IsCreate = true
        let IsShowCurrent = true

        let IsSystemLock = false

        let SubmitButton = $('#submit')
        let ModalLabel = $('#ModalLabel')

        let SelState = document.querySelector('#SelState')
        let SelProduct = document.querySelector('#SelProduct')

        const url = "https://localhost:44333/api/APISalesInfo"

        //載入篩選列表
        async function Load_Selector_List(Selector, LoadList) {
            $(Selector).empty()

            const response = await fetch('/SelectorList/' + LoadList)
            const datas = await response.json()

            await $.each(datas, (index, data) => {
                if ($(Selector).attr('id') == 'ProductList')
                    $('<option/>').data('PID', data.id).text(data.name).appendTo(Selector)
                else
                    $('<option/>').val(data.id).text(data.name).appendTo(Selector)
            })

            if ($(Selector).attr('id') == 'SelState')
                $('#SelState>option').last().remove()
        }

        //$('#SelState').change(Refresh_SalesInfos_List)
        //$('#SelProduct').change(Refresh_SalesInfos_List)

        Load_Selector_List($('#SelState'), 'All_SalesStates')
        Load_Selector_List($('#ProductList'), 'ProductName')

        //切換 當期/過期 販售資訊列表
        function Record_Switch_Button_Click() {
            IsShowCurrent = !IsShowCurrent

            $('#title').text(IsShowCurrent ? '當前販售資訊列表' : '歷史販售資訊列表')
            $('#RecordSwitch').text(IsShowCurrent ? '歷史販售資訊' : '當前販售資訊')
            $('#RecordSwitch').removeClass(IsShowCurrent ? 'btn-success' : 'btn-warning')
            $('#RecordSwitch').addClass(IsShowCurrent ? 'btn-warning' : 'btn-success')
            $('#SelState').parent().attr('hidden', IsShowCurrent ? false : true)

            if (IsShowCurrent == false)
                $('#SelState').val($('#SelState>option').first().val())

            Refresh_SalesInfos_List()
        }

        //刷新販售資訊列表
        function Refresh_SalesInfos_List() {
            //判斷顯示當期或過期的列表
            IsShowCurrent ? Load_Current_SalesInfos_List() : Load_Expired_SalesInfos_List()
        }

        //顯示當期
        function Load_Current_SalesInfos_List() {
            $('#DivList').load(`/SalesInfo/_Current_SalesInfosList_View?KeyWord=${$('#SelProduct').val()}&StateID=${$('#SelState').val()}`)
        }

        //顯示過期或下架
        function Load_Expired_SalesInfos_List() {
            $('#DivList').load(`/SalesInfo/_Expired_SalesInfosList_View?KeyWord=${$('#SelProduct').val()}&StateID=${$('#SelState').val()}`)
        }

        //載入新增上架商品頁面
        function Load_Create_SalesInfo_Page() {
            IsCreate = true
            ModalLabel.text('新增販售資訊')
            SubmitButton.text('上架商品')
            SubmitButton.off('click')
            SubmitButton.click(Create_New_SalesInfo)
            $('#OffShelfBtn').attr('hidden', true)

            $('.modal-body').load('/SalesInfo/_Create_SalesInfo');
        }

        //載入修改上架商品頁面
        function Load_Edit_SalesInfo_Page() {
            IsCreate = false
            ModalLabel.text('修改販售資訊')
            SubmitButton.text('保存修改')
            SubmitButton.off('click')
            SubmitButton.click(Edit_New_SalesInfo)
            $('#OffShelfBtn').attr('hidden', false)

            EditID = $(this).parents('tr').find('td:last-child').text()
            $('.modal-body').load('/SalesInfo/_Edit_SalesInfo?id=' + EditID);
        }

        //顯示下架產品警告
        function Off_Shelf_SalesInfo_Warning() {
            let response = confirm('下架商品後，商品將不會在商品頁面顯示。\n\n確定要下架嗎?')

            if (response) {
                //將銷售狀態設為"停止販售"
                $('#InputSalesStatesId').val(5)
                Off_Shelf_SalesInfo()
            }
        }

        //新增上架商品
        function Create_New_SalesInfo() {
            console.log($('#SelProductName').val())
            console.log($('[name="VaildMsg"]').is(':hidden'))

            if ($('form').valid() && $('#SelProductName').val() != 0 && !$('[name="VaildMsg"]').is(':hidden')) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    contentType: 'application/json',
                    data: JsonData(),
                }).done(() => {
                    $('#addModal').modal('hide')
                    Refresh_SalesInfos_List()
                })
            }
        }

        //修改上架商品
        function Edit_New_SalesInfo() {
            $.ajax({
                type: 'PUT',
                url: url + '/' + EditID,
                contentType: 'application/json',
                data: JsonData(),
            }).done(() => {
                $('#addModal').modal('hide')
                Refresh_SalesInfos_List()
            })
        }

        //下架商品
        function Off_Shelf_SalesInfo() {
            $.ajax({
                type: 'PUT',
                url: url + '/' + EditID,
                contentType: 'application/json',
                data: JsonData(),
            }).done(() => {
                $('#addModal').modal('hide')
                Refresh_SalesInfos_List()
            })
        }

        //取得更改的販售資訊(JSON Data)
        function JsonData() {
            var data = $('form').serializeArray().reduce(function (obj, item) {
                if (item.value != "")
                    obj[item.name] = item.value;

                return obj;
            }, {});

            console.log(JSON.stringify(data))

            return JSON.stringify(data)
        }

        $('#AddBtn').click(Load_Create_SalesInfo_Page)
        $('#OffShelfBtn').click(Off_Shelf_SalesInfo_Warning)
        $('#RecordSwitch').click(Record_Switch_Button_Click)
        

        window.setTimeout(Refresh_SalesInfos_List, 100);

        $('#SearchBtn').click(function () {
            IsShowCurrent ? Load_Current_SalesInfos_List() : Load_Expired_SalesInfos_List()
        })
    </script>
}
