<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="        background-image: url(/images/employee.jpg);">
    <h2 class="tit6 t-center">
        銷售排行
    </h2>
</section>

<iframe width="1170" height="1000" src="https://app.powerbi.com/view?r=eyJrIjoiNjcyMzBhYTEtNzBmYi00YTgzLTgxYWItNWQ2MzE4OGE1OThjIiwidCI6IjllN2Y2OWZjLTBmMDQtNDg2Ny1hMmYyLWZjMzk5OTRjZWI0NyIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>