
@{
    ViewData["Title"] = "修改密碼";
}
<div style="height:160px"></div>
<h1>修改密碼</h1>
<form method="post">
    <div>
        <label>請輸入新密碼</label>
        <input type="password" name="newpassword" />
        <input type="submit" value="送出" />
    </div>
</form>

