
@{
    ViewData["Title"] = "確認密碼";
}
<div style="height:160px"></div>
<h1>確認密碼</h1>
<form method="post">
    <div>
        <label>請輸入當前密碼</label>
        <input type="password" name="password" />
        <input type="submit" value="送出" />
    </div>
</form>

