@{
    ViewData["Title"] = "會員登入";
}
<head>
    <title>會員登入</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Memberstyles/LoginStyles/css/style.css">

    <style>
        .social {
            border-radius: unset;
        }
    </style>

</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">會員登入</h2>
                    <h3 style="color:red">@ViewBag.loginerror</h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
                            <div class="text w-100">
                                <h2 style="color:black">歡迎登入</h2>
                                <p>還沒有註冊會員嗎?</p>
                                <a href="/Member/Register" class="btn btn-white btn-outline-white">申請帳號</a>
                                <a id="demo" class="btn btn-white btn-outline-white">Demo</a>
                            </div>
                        </div>
                        <div class="login-wrap p-4 p-lg-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">登入</h3>
                                </div>
                            </div>
                            <form method="post" action="#" class="signin-form">
                                <div class="form-group mb-3">
                                    <label class="label" for="name">使用者信箱</label>
                                    <input type="text" class="form-control" placeholder="Username" required id="txtAccount"  name="txtAccount" value="jhjhj@gmail.com">
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" for="password">密碼</label>
                                    <input type="password" class="form-control" placeholder="Password" required id="txtPassword" name="txtPassword" value="19568989">
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="登入" class="form-control btn btn-primary submit px-3" id="btnLogin" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
@section Scripts{ 
<script>
    $("#demo").click(function () {
        $("#txtAccount").val("XiaoMing644@gmail.com");
        $("#txtPassword").val("aabb1212");
    });
</script>
}
