@model prjRemenSuperMarket.ViewModel.CRamenAdd
<style>
    td > div {
        margin-bottom: 10px;
    }

    div > label {
        font-size: 18px;
    }

    #ImgPicture {
        border: 5px solid gray;
        width: 250px;
        height: 250px;
    }
</style>

<form enctype="multipart/form-data" name="theForm">
    
    <table>
        <tbody>
            <tr>
                <td width="600px" style="vertical-align:top">
                    <div class="form-row">
                        <div class="col-12">
                            <label asp-for="RamenStoreId" class="control-label"></label>
                            <select asp-for="RamenStoreId" class="form-select" id="SelRamenStoreId"></select>
                            <span asp-validation-for="RamenStoreId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-12">
                            <label asp-for="ProductName" class="control-label"></label>
                            <input asp-for="ProductName" class="form-control border" />
                            <span asp-validation-for="ProductName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-12">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control border" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>

                </td>

                <td width="500px" style="vertical-align:bottom">
                    <div class="col-12">
                        <label asp-for="ProductPicture" class="control-label">商品照片</label>
                    </div>

                    <div class="col-12">
                        <img id="ImgPicture" />
                    </div>

                    <div class="col-12">
                        <input id="InpPicture" type="file" asp-for="ProductPicture" class="form-control border" onchange="readURL(this);" />
                        <span asp-validation-for="ProductPicture" class="text-danger"></span>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>
</form>

<script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>

    async function Load_Selector_List(Selector, LoadList) {
        const response = await fetch('/SelectorList/' + LoadList)
        const datas = await response.json()

        $.each(datas, (index, data) => {
            $('<option/>').val(data.id).text(data.name).appendTo(Selector)
        })
    }

    async function Load_AddStoreID() {
        await Load_Selector_List($('#SelRamenStoreId'), 'RamenStore')
        $('#SelRamenStoreId').val(AddStoreID)
    }

    Load_AddStoreID()

    $('#SelRamenStoreId').change(() => {
        AddStoreID = $('#SelRamenStoreId').val()
    })

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#ImgPicture').attr('src', e.target.result)
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#demo").click(function () {
        $("#ProductName").val("辛香辣麵");  //所有input元素
        $("#Price").val("200");

    });
</script>

