<!DOCTYPE html>
<html lang="zh-hant">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- #region [ Stylesheet Link ] -->

    <link rel="icon" type="image/png" href="~/images/icons/favicon.png" />
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/themify/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/lightbox2/css/lightbox.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">

    <!-- #endregion -->
    @await RenderSectionAsync("Styles", required: false)

    <style>
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            opacity: 1;
        }

        #loginbtn {
            color: #ef8c03;
            background-color: white;
        }

            #loginbtn:hover {
                color: white;
                background-color: #ef8c03;
            }

        #Main {
            padding-bottom: 60px;
        }

        #Footer {
            height: 60px;
            position: relative;
            margin-top: -60px;
        }

        html, body {
            height: 100%;
            margin: 0;
        }

        .wrapper {
            min-height: 100%;
        }
    </style>
</head>
<body class="animsition">

    <!-- Header -->
    <header>
        <!-- Header desktop -->
        <div class="wrap-menu-header gradient1 trans-0-4">
            <div class="container h-full">
                <div class="wrap_header trans-0-3">
                    <!-- Logo -->
                    <div class="logo">
                        <a asp-controller="Home" asp-action="Page">
                            <img src="~/images/icons/logo.png" alt="IMG-LOGO" data-logofixed="/images/icons/logo2.png">
                        </a>
                    </div>

                    <!-- Menu -->
                    <div class="wrap_menu p-l-45 p-l-0-xl">
                        <nav class="menu">
                            <ul class="main_menu">
                                <li>
                                    <a asp-controller="ProductDetail" asp-action="List">產品明細</a>
                                </li>

                                <li>
                                    <a asp-controller="Goods" asp-action="List">貨物管理</a>
                                </li>

                                <li>
                                    <a asp-controller="SalesInfo" asp-action="List">販售資訊</a>
                                </li>

                                @*<li>
                                    <a asp-controller="EMList" asp-action="EList">員工資料</a>
                                </li>*@

                                <li>
                                    <a asp-controller="EMList" asp-action="MList">會員資料</a>
                                </li>

                                <li>
                                    <a asp-controller="EMList" asp-action="Ranking">銷售排行</a>
                                </li>

                                <li>
                                    <a asp-controller="EMList" asp-action="Eorder">訂單查詢</a>
                                </li>

                            </ul>
                        </nav>
                    </div>

                    <!-- Social -->
                    <div class="flex-w flex-l-m p-r-20">
                        <div class="flex-w flex-l-m p-r-20">
                            <div class="social btn-group m-l-20" id="unlogincenter">
                                <a class="btn btn-white" href="~/EMLogin/Login">
                                    登入/註冊
                                </a>
                            </div>

                            <div class="social-cust-dropdown btn-group m-l-20" id="logincenter">
                                <a class="btn btn-white dropdown-toggle m-l-20" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="loginbtn">
                                    <span id="employeeName">未讀取員工名</span>
                                    <span class="badge bg-warning text-white ms-1 rounded-pill">0</span>
                                </a>
                                <div class="social-cust-dropdown">
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">
                                            通知
                                            <span class="badge bg-warning text-white ms-1 rounded-pill">0</span>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="~/EMList/LogOff" id="checklogin">登出</a>
                                    </div>
                                </div>
                            </div>

                            @*<a class="btn btn-white" style="margin-left:10px" id="SwitchButton" href="~/Home/Page">
                                    顧客頁面
                                </a>*@
                            <button class="btn-show-sidebar  m-l-33 trans-0-4" id="chat">
                                <img src="~/images/customer_service.png" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Sidebar -->
    <aside class="sidebar trans-0-4">
        <h1>員工答覆</h1>
        <div class="container">
            <div>
                <div id="messagesList" style="height: 400px; overflow-x:hidden;overflow-y:scroll ">
                    @*<ul id="messagesList"></ul>*@
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <hr />
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-4" id="user">
                    <input type="hidden" name="UserName" id="userInput" />
                </div>
            </div>
            <div class="row">

                <div class="col-4">
                    <input type="text" id="messageInput" name="txtmes" style="margin-bottom:10px; width:200px;outline:1px solid red" />
                </div>
                <input type="hidden" name="connectedId" id="connectionId" style="bottom:auto" />
            </div>
            <div class="row">
                <div id="aa">
                </div>

            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-6">
                    <input type="submit" id="sendToUser" value="傳送訊息" class="btn btn-success" />
                </div>
            </div>
        </div>
    </aside>
    <div id="Main" class="container wrapper ">
        <main role="main" class="pb-3">
            @RenderBody()

        </main>
    </div>

    <footer id="Footer" style="        background-color: #383838">
        <div class="container h-full">
            <div class="t-center" style="padding-top:12px;">
                <div class="row ">
                    <div class="col">
                        <a class="t-center" asp-controller="ProductDetail" asp-action="List" style="font-size:14px;color:white">開發人員</a>
                        <a style="font-size:14px;color:white">    |    </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Back to top -->
    <div class="btn-back-to-top bg0-hov" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
        </span>
    </div>

    <!-- #region [ Script ] -->

    <script type="text/javascript" src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/vendor/animsition/js/animsition.min.js"></script>
    <script type="text/javascript" src="~/vendor/bootstrap/js/popper.js"></script>
    <script type="text/javascript" src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/vendor/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/vendor/daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="~/vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="~/js/slick-custom.js"></script>
    <script type="text/javascript" src="~/vendor/parallax100/parallax100.js"></script>
    <script type="text/javascript">
        $('.parallax100').parallax100();
    </script>
    <script type="text/javascript" src="~/vendor/countdowntime/countdowntime.js"></script>
    <script type="text/javascript" src="~/vendor/lightbox2/js/lightbox.min.js"></script>
    <script type="text/javascript" src="~/vendor/isotope/isotope.pkgd.min.js"></script>
    <script src="~/js/main.js"></script>

    <!-- #endregion -->
    <script>
        async function GetLoginEmployee() {
            const response = await fetch('/EMList/Get_Employee_Name')
            const datas = await response.json()
            if (datas.name == null) {
                $('#logincenter').hide()
                $('#unlogincenter').show()
                $('#chat').hide()
            } else {
                $('#employeeName').text("員工 : " + datas.name)
                $('#userInput').val(datas.name)
                $('#unlogincenter').hide()
                $('#logincenter').show()
                $('#chat').show()
                var inputuser = document.getElementById('userInput').value
                if (inputuser == "小黑") {
                    let sel = document.createElement("select")
                    sel.name = "recivename"
                    sel.id = "recivename"
                    sel.style = "margin-left:10px"
                    document.getElementById("aa").appendChild(sel)

                    let recivename = document.querySelector('#recivename')
                    async function Load_Name() {
                        const response = await fetch('/Member/Load_member_List')
                        const data = await response.json()
                        data.forEach((item) => {
                            const opt = new Option(item.name, item.name)
                            recivename.options.add(opt)
                        })
                    }
                    Load_Name();
                    //recivename.addEventListener('change', function () {
                    //    var list = document.getElementById('messagesList')
                    //    var childs = list.childNodes;
                    //    for (var i = childs.length - 1; i >= 0; i--) {
                    //        list.removeChild(childs[i])
                    //    }
                    //})
                }
            }
        }

        GetLoginEmployee()
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
